@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable.ttf");
}
@font-face {
  font-family: "Satoshi-italic";
  src: url("../fonts/Satoshi-VariableItalic.ttf");
}

:root {
  --primary-blue: #4747ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Satoshi, sans-serif;
}

@layer components {
  .dropdown-menu::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  /* .dropdown-menu::-webkit-scrollbar-track {
    background: #cacaca;
    border-radius: 5px;
  } */

  /* Handle */
  .dropdown-menu::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 5px;
  }

  /* Handle on hover */
  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background: var(--primary-blue);
  }

  .custom-clip-path {
    background-color: var(--primary-blue);
    clip-path: circle(120% at 112% 50%);
  }

  .filter-color {
    filter: invert(12%) sepia(80%) saturate(7500%) hue-rotate(3deg)
      brightness(102%) contrast(114%);
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
